<div class="space-y-2">
  <section>
    <label for="name" class="block text-gray-700 font-medium">Nom :</label>
    <input
      type="text"
      name="food_entry[name]"
      id="name"
      value="<%= name_value %>"
      required
      class="w-80 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </section>

  <section>
    <label for="calories" class="block text-gray-700 font-medium"
      >Calories :</label
    >
    <input
      type="number"
      name="food_entry[calories]"
      id="calories"
      step="0.1"
      value="<%= calories_value %>"
      required
      class="w-80 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </section>

  <section>
    <label for="carbs" class="block text-gray-700 font-medium"
      >Glucides (g) :</label
    >
    <input
      type="number"
      name="food_entry[carbs]"
      id="carbs"
      step="0.1"
      value="<%= carbs_value %>"
      required
      class="w-80 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </section>

  <section>
    <label for="proteins" class="block text-gray-700 font-medium"
      >Protéines (g) :</label
    >
    <input
      type="number"
      name="food_entry[proteins]"
      id="proteins"
      step="0.1"
      value="<%= proteins_value %>"
      required
      class="w-80 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </section>

  <section>
    <label for="fats" class="block text-gray-700 font-medium"
      >Lipides (g) :</label
    >
    <input
      type="number"
      name="food_entry[fats]"
      id="fats"
      step="0.1"
      value="<%= fats_value %>"
      required
      class="w-80 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </section>

  <section>
    <label for="public" class="block text-gray-700 font-medium">Public :</label>
    <input type="checkbox" name="food_entry[public]" id="public" <%=
    public_value ? 'checked' : '' %> class="h-5 w-5 text-blue-500
    border-gray-300 rounded focus:ring-blue-500" />
  </section>
</div>

<div class="flex mt-4 space-x-4">
  <button
    type="submit"
    class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
  >
    <%= button_text %>
  </button>

  <a
    href="/food_entries"
    class="px-4 py-2 bg-red-500 text-white font-semibold rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500"
  >
    Annuler
  </a>
</div>
